/*body {
    background-color: rgba(20, 115, 254, 0.9);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    position: relative;
}*/

.home{
    background: url(images2/ho.jpg) no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    position: relative;

}
.main_menu{
    position: relative;
} 

.sub_menu{
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    bottom: 0;
    background-color: indianred;
    color: white;
    height: 40px;
    display: none;
}

.main_menu:hover > div {
    display: block;
}

.services{

    background: url(images2/services.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.services h1{
   
    color: #427;
}
.net{
    width: 20vw;
    height: 30vh;
    border: 1px solid black;
    position: absolute;
}
.services main{
    position: relative;
}
/* .services main:first-child{
    position: absolute;
    height: 20vh;
    width: 20vw;
    border: 2px solid black;
    top: 10vh;
    left: 5vw;
    right: 80vw;
    bottom: 80vh;
   
    
    

}
 */ 

.about{
    background-color: #000;
    color: white;
    position: relative;
    font-size: 10px;

}
.about #line{
    background-color: orangered;
    width: 4vw;
    height: 0.1vh;
    border-collapse: collapse;
    border-color: orangered;
    position: absolute;
}
.about .note{
    font-size: 15px;
}

.client{

}

.portfolio{

}

.contact{

}

.register{

}
ul{
    margin: 0%;
    padding: 0px;
    list-style: none;
    
    
}
ul li{
    margin:0px;
    float: left;
    width: 13.5vw;
    height: 40px;
    background-color: #000;
    opacity: 0.8;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    margin-right: 5px;
    z-index: 999;
    
}
ul li a{
    text-decoration: none;
    color: white;
    display: block;
    
}
ul li a:hover{
    background-color: tomato;
}
ul li a:active, .service:active, .compS:active{
    background-color: coral;
}
ul li ul li{
    display: none;
}
/* ul li ul li a{
    display: block; */
/* }
ul li ul li ul li{
    display: none;
} */
ul li:hover ul li{
    display: block;
    z-index: 99;
}
h1{
    display: block;
    color: white;
    font-size: 3em;
    text-align: center;
}

.box{
    position: absolute;
    width: 60vw;
    height: 30vh;
    top: 18vh;
    left: 20vw;

    z-index: 0.9;
    opacity: 0.7;
    /*background: url("images/back.jpg") no-repeat;
    background-size: contain;*/
}
.box h3{
    color: orangered;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    font-size: x-large;
}
.box h3 a{
    text-decoration: none;
    color: blue;
    font-stretch: ultra-expanded;
    z-index: 1;
}

.box h5{
    padding-left: 27%;
    padding-top: 3%;
    color: gray;
    font-style: italic;
    font-size: 90%;
    font-family: sans-serif;
}
.box input{
    background-color:orangered;
    position: absolute;
    bottom: 5%;
    left: 45%;
    padding: 10px 25px 10px 15px ;
    border: none;
    border-radius: 10%;
    color: cornsilk;
    font-size: 100%;

}
.sections{
    display: flex;
    margin-top: 40vh;
}
.sections img{
    margin-right: 5px;
    height: 40vh;
    width: 24.3vw;
    
    
    
}

footer{
    opacity: 0.9;
    height: 5vh;
    display: flex;
    align-items: baseline;
    
    background-color: blue;
}
.logos img{
    padding-right: 10px;
    height: 5vh;
    width: 7vw;
    border-radius: 50%;
    
}
.logos{
    position: absolute;
    left: 42%;
}


/* Style for Our Services*/
.main img{
    position: absolute;
    top:10vh;
    left: 20vw;
}
#sec{
    position: absolute;
    top: 10vh;
    left: 70vw;

}
.Net:hover{
    background-color: #427;
    opacity: 0.5;
    /* zoom:120%; */


}
.Net:active{
    background-color: coral;

}
.Net{
    position: absolute;
    height: 65vh;
    width: 19vw;
    border: 0px solid black;
    box-shadow: 2px 5px 5px 5px #000;
    
}
.cap{
    position: absolute;
    height: 30px;
    width: 140px;
    background-color: lightsteelblue;
    left: 60px;
    top: 20px;
    text-align: center;
    padding-top: 5px;
    font-weight: 900;
    font-size: 20px;
    border-radius: 5%;
    opacity: 0.7;

}
.compN:hover{
    background-color: #427;
    opacity: 0.7;
    /* zoom: 120%; */
    color: white;
}
.compN{
    position: absolute;
    height: 65vh;
    width: 18vw;
    border:0px solid black;
    left: 20vw;
    box-shadow: 5px 15px 15px 5px #000;
}

.compS:hover{
    background-color: #427;
    opacity: 0.7;
    /* zoom: 120%; */
    color: white;
}
.compS{
    position: absolute;
    height: 65vh;
    width: 18vw;
    border:0px solid black;
    left: 39vw;
    box-shadow: 5px 15px 15px 5px #000;
}

.hardware:hover{
    background-color: #427;
    opacity: 0.7;
    /* zoom: 120%; */
    color: white;

}
.hardware{
    position: absolute;
    height: 65vh;
    width: 18vw;
    border:0px solid black;
    left: 58vw;
    box-shadow: 5px 15px 15px 5px #000;
    
}
.software:hover{
    background-color: #427;
    opacity: 0.7;
    /* zoom: 120%; */
    color: white;
}
.software{
    position: absolute;
    height: 65vh;
    width: 19vw;
    border: 0px solid black;
    left: 77vw;
    box-shadow: 5px 15px 15px 0px #000;
}
.all{
    z-index: -1;
}
    
.cap{
    background-color: ivory;
    color: #000;
    opacity: 0.9;
}
.cap ul li a{
    color: rgb(19, 0, 128);
    
    
}
#net li{
    text-align: center;
}